<?xml version='1.0' encoding='utf-8'?>
<widget id="com.aei.firstshore.com" 
        version="1.2" 
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FirstShore</name>
    <description>FirstShore is the gateway for finding heritage destinations catered towards your interests by providing the tool to navigate your journey.
        First Shore has Colonial, Cultural, Ecological, Historic, Reconstruction, Civil War and Revolutionary War sites on the map and a wealth of information and links to provide you with specific details about each place.
    </description>
    <author href="http://aeimarketing.com" email="developers@aeimarketing.com">AEI Marketing</author>
    <preference name="phonegap-version" value="cli-6.4.2" />
    <plugin name="cordova-plugin-whitelist" />
    <plugin name="cordova-plugin-inappbrowser"  />
    <plugin name="cordova-plugin-geolocation"  />
    <plugin name="cordova-plugin-device"  />
    <content src="index.html" />



    <access origin="*" browserOnly="true"/>
    <allow-navigation href="*" />
    
    <!-- Allow links to web pages to open in a browser -->
    <allow-intent href="*" />

    <icon platform="android" qualifier="ldpi" src="img/icons/android/icon-36-ldpi.png"/>
    <icon platform="android" qualifier="mdpi" src="img/icons/android/icon-48-mdpi.png"/>
    <icon platform="android" qualifier="hdpi" src="img/icons/android/icon-72-hdpi.png"/>
    <icon platform="android" qualifier="xhdpi" src="img/icons/android/icon-96-xhdpi.png"/>
    <icon platform="android" qualifier="xxhdpi" src="img/icons/android/icon-144-xxhdpi.png"/>
    <icon platform="android" qualifier="xxxhdpi" src="img/icons/android/icon-192-xxxhdpi.png"/>


</widget>